.kdev4
geo-api3.kdev4
*.pyc
*.ini
*.mo
*.iml
*.swp
*~
.coverage
.idea
.installed.cfg
apache/wsgi.conf
apache/mapproxy.conf
apache/tomcat-print.conf
chsdi.egg-info
chsdi/static/doc/build/
chsdi/static/css/extended.min.css
chsdi/static/js/ol3/
chsdi/static/js/layersconfig.*.js
chsdi/static/js/serverconfig.js
chsdi/static/js/*.css
deploy/hooks/pre-create-code
*.toml
!*.dist.toml
*.wsgi
config/config.sh
local.mk
/cover
/.venv
/bin
/build
/dist
/lib
