autopep8
Babel
coverage
geoalchemy2==0.2.5
geojson==1.2.2
Mako==1.0.0
nose
OWSLib==0.9.0
papyrus==2.0dev4
pep8
psycopg2==2.6.1
Pygments
pyramid==1.5.7
pyramid-debugtoolbar==1.0.9
pyramid-mako==1.0.2
pyramid_tm==0.12
pyflakes
qrcode==5.1
requests==2.7.0
shapely==1.5.9
Sphinx
sphinx_rtd_theme
SQLAlchemy==1.0.7
waitress
WebTest==2.0.18
