Babel
Mako==1.0.0
OWSLib==0.9.0
Pillow
Pygments
SQLAlchemy==1.0.7
Sphinx
WebTest==2.0.18
autopep8
coverage
geoalchemy2==0.2.5
geojson==1.2.2
lxml==3.4.4
nose
papyrus==2.0dev4
pep8
psycopg2==2.6.1
pyflakes
pyramid-debugtoolbar==1.0.9
pyramid-mako==1.0.2
pyramid==1.5.7
pyramid_tm==0.12
qrcode==5.1
requests==2.7.0
shapely==1.5.9
sphinx_rtd_theme
toml
waitress
